.call-to-action {
  .call-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

    img.sm-icon {
      height: 40px;
      margin: 0 40px;
    }
  }

  img.album-cover {
    width: 40vh;
  }

  h1.listen-now {
    font-size: 78px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
