.page.blog {
  color: #000;
  top: 150px;
  justify-content: flex-start;

  div.post-container{
    width: 60vw;

    h1 {
      font-size: 52px;
      margin-bottom: 0;
    }

    p {
      margin-top: 10px;
      font-size: 40px;
      overflow: hidden;
      margin-bottom: 50px;
    }

    img.blog-image {
      height: 35vh;
      float: left;
      margin-right: 20px;
    }
  }
}
