@font-face {
  font-family: 'Chilanka Regular';
  src: url(/SwankyandMooMoo-Regular.ttf);
}
body {
  margin: 0;
  font-family: 'Chilanka Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, #root {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  color: #f8ffdc;
  letter-spacing: 5px;
  background-color: #000;
}
