div.nav {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 70px;
  letter-spacing: 10px;
  transform: rotate(4deg);

  span {
    margin-left: 40px;
    color: #f8ffdc;
  }

  span.nav-link {
    cursor: pointer;
    user-select: none;
    transition: color 250ms;
  }

  span.nav-link:hover{
    color: #da4961;
  }
}
