div.nav {
  position: absolute;
  top: 15px;
  right: 50px;
  font-size: 70px;
  transform: rotate(4deg);

  span {
    margin-left: 40px;
  }

  a.nav-link {
    color: #f8ffdc;
    text-decoration: none;
    margin-left: 40px;
    cursor: pointer;
    user-select: none;
    transition: color 250ms;
  }

  a.nav-link:visited{
    color: #f8ffdc;
  }

  a.nav-link:hover{
    color: #e3ff75;
  }
}
